============================================================
 Project: {{ common_motd_project }}
 Environment: {{ common_motd_environment }}
 Managed by: Ansible

 Hostname: {{ ansible_hostname }}
 OS: {{ ansible_distribution }} {{ ansible_distribution_version }}
 Kernel: {{ ansible_kernel }}
 Timezone: {{ common_timezone }}
============================================================
