apiVersion: v1
kind: Service
metadata:
  name: demo-nginx
spec:
  type: {{ .Values.service.type }}
  selector:
    app: demo-nginx
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 80
